.header{
    text-align: center;
    margin-bottom: 20px;
}

.button-left,
.button-right {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}

.button-left:hover,
.button-right:hover {
    cursor: pointer;
    background-color: rgb(43, 255, 0);
}
