* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidte {
    display: none;
}

body,
html {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(black, rgb(96, 209, 10));
}

.button-left, .button-right{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}

.button-left:hover, .button-right:hover{
    cursor: pointer;
    background-color: rgb(43, 255, 0);
}

.favorite-button {
    font-size: 20px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(255, 0, 242, 0.616);
    color: #1dd71d;
}

.favorite-button:hover {
    cursor: pointer;
}

.favorite-button a {
    font-style: normal;
}

h1 {
    text-align: center;
    color: white;
}

.live {
    background-color: #1dd71d;
}

.dead {
    background-color: #c91e1e;
}

.unknow-status {
    background-color: #ffba1e;
}

.content-element {
    width: 205px;
    border: 1px solid;
    border-radius: 10px;
    position: relative;
    border: 5px solid #1dbd1d;
    transition: all 0.2s ease-in;
}

.content-element:hover {
    cursor: pointer;
    scale: 1.05;
}



.content-img,
.character-img {
    width: 100%;
}

.content-img{
    position: relative;
}


.character-img {
    border-radius: 10px;
}

.character-name {
    text-align: center;
}

.character-status {
    text-align: center;
}

.details {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.container-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: rgb(0, 0, 0);
    background: rgba(0, 255, 0, 0.164);
    border-radius: 10px;
    transition: all 1s ease-in;
    text-align: center;
    font: 22px;
    font-weight: bold;
    display: none;
}

.content-element:hover .container-info {
    display: block;
}

.info-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.info-data span {
    display: block;
}


.container {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, auto);
    grid-gap: 20px;
    width: 80%;
    margin: auto;
}

.options {
    display: grid;
}

.favorite {
    width: 30%;
    width: 120px;
}

.img-c {
    width: 32px;
    height: 30px;
    transition: all 0.2s ease-in;

}

.img-c:hover {
    cursor: pointer;
    transform: rotate(37deg);
    scale: 1.02;
}

